.center-block {
    margin: 0 auto;
}
#barra-navegacion {
    
}
nav li {display: inline-block; }
nav a  {padding:10px;background-color: aqua;}
nav a:hover{background-color:firebrick;}
nav {
    height: 50px;
}
#notas-principal{
    height: 300px;
    background: green
}

#notas-secundarias{
    width: 660px;
    float: left;
    padding: 20px;
    background: black;
    height: 260px;
}


aside {
    width:210px;
    float: right;
    padding:5px;
    background: blue;
    height: 290px;
    
}

footer {
    clear: both;
    background: purple;
    height: 150px;
}

h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
    padding-left: 310px;
    font-size: 1.5;

}


