h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

.center-block {
    margin: 0 auto;
}

nav li {display: inline-block; }
nav {
    height: 50px;
    text-decoration: none;
    /* padding: 10px; */
    background: pink;
    display: flex;
    justify-content: center;
}
#notas-principal{
   margin: auto;
    padding: 0;
    height: 300px;
    width: 920px;
    border-color:white;
    box-shadow: 10px 10px 10px grey;
}

#notas-secundarias{
    width: 700px;
    float: left;
    background: orange;
    min-height: 260px;
    margin: auto;
}
#notas-secundarias article{
    display: flex;
}


aside {
    width:210px;
    float: right;
    padding:5px;
    background: blue;
    min-height: 290;
    
}

footer {
    clear: both;
    background: purple;
    height: 150px;
    width: 920px;
    margin: auto;
}

header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    width: 920px;
    margin: auto;
}
    
#barra-navegacion {
    height:50px;
    display:flex;
    justify-content: center;
    width: 920px;
    margin: auto;
}

#barra-navegacion ul ul{
    display: none;
}

#barra-navegacion a {
    color:black;
    text-decoration:none;
    padding: 10px 20px;
    background-color: darkgray;
    transition: 0.5s;
}
#barra-navegacion ul {
    padding: 0;
}
#barra-navegacion>ul>li>a:hover{
    background-color: lightgray;
}



#contenido {
    width: 920px;
    margin: auto;
}


#titulos h1{font-size: 1.4em}
#titulos h2{font-size: 1.1em}
#titulos h3{font-size: 0.9em}
#titulos h4{font-size: 0.7em}


#titulos h1,h2,h3,h4{
    margin: 0;
    padding: 0;
    
}

figure {
    margin: 0;
    position: relative;
}
#notas-secundarias article{
     display: flex;
     background-image: url('../Imagenes/sombra.png');
     background-repeat: no-repeat;
     background-position: bottom;
     padding-bottom: 40px;
     margin-bottom: 30px;
}
#notas-secundarias figure{
    position: relative;
}
#notas-secundarias figure span{
    position: absolute;
    top: 10px;
    left: -10px;
    padding: 5px 20px;
    background-color: lightgrey;
    box-shadow: 1px 1px 3px darkgrey;
}
#notas-secundarias article div{
    padding-left: 10px;
}
#notas-secundarias article div p {
    text-align: justify;
    line-height: 0.8em;
}
#notas-secundarias article h2{
    font-variant: small-caps;
    line-height: 0.7em;
}
#notas-secundarias a{
    color: #b92025;
    text-decoration: none;
}
#notas-secundarias a:hover{
    color: blue;
    text-decoration: underline;
}
#notas-secundarias {
    width: 730px;
    min-height: 260px;
}
#publicidad{
    width: 210px;
    padding: 5px;
    height: 640px;
    padding-left: 5px;
    border-left: 1px solid #bdbdbd;
}

#pie{
    min-height: height: 150px;
}
.sombra-imagen{
    box-shadow: 0 0 5px darkgray;
    margin-bottom: 10px;
}

.ver-mas p{
    color: white;
    font-weight: bold;
}
.boton{
    background: #b92025;
    display: inline-block;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding: 3px;
    box-shadow: 0px 1px 3px darkgray;
    
}

.boton > div{
    padding: 1px 3px;
    border: 1px solid rgba(255,255,255,.7)
    }

.boton p{
    color: white;
    padding: 0 !important;
    font-variant: small-caps;
    font-size: 1.1em;
    
}
.notas-secundarias{
   display: flex; 
   justify-content:space-around;
}

#programas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#politicas {
    border-bottom: 3px double lightgray;
    border-top: 3px double lightgray;
    padding: 5px;
    text-align: center;
}

.separador-sems {
    padding: 5px 0;
    margin: 20px 0;
    position: relative;
    text-align: center;
}


.separador-sems a::before, .separador-sems a::after{
    content:"";
    border-top: 3px double lightgray;
    width: 38%;
    position: absolute;
    top: 35px;
}

.separador-sems a::after{
  right:0;
}

.separador-sems a::before{
  left: 0;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.flexible {
    display: flex;
}

.facebook, .twitter{
    text-indent: -9999px;
    display: inline-block;
    width: 33px;
    height: 33px;
}

.facebook{
    background: url('../Imagenes/facebook_twitter.png') 0 0;
}

.twitter{
    background: url('../Imagenes/facebook_twitter.png') -43px 0;
}

.facebook:hover {
    background: url('../Imagenes/facebook_twitter.png') 0 -43px;
}

.twitter:hover{
    background: url('../Imagenes/facebook_twitter.png') -43px -43px;
}
